body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  background-color: #bbf1fa;
  text-align: center;
}

div {
  margin: 0;
}

h1, h2{
  font-family: 'Yusei Magic', sans-serif;
  margin: 0;
  color: #66BFBF;
}

h3, a{
  color: #11999E;
  font-weight: normal;
}

.top-container{
  position: relative;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.middle-container{
  background-color: white;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 25px;
}

.top{
  padding: 50px 0;
  font-size: 400%; /*dynamic size: (100% is 16px = 1em)*/
  line-height: 2;
}

.h3top{
  font-weight: bold;
  font-family: 'Yusei Magic', sans-serif;
  margin: 0;
  color: #66BFBF;
}

.mountain{
  margin: 5% auto 0 auto;
}

.cloud-top{
  position: absolute;
  top: 100px;
  right: 25%;
}

.cloud-bottom{
  position: absolute;
  top: 350px;
  left: 15%;
}

.span1{
  text-decoration: underline;
}

.skill-row1{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row2{
  width: 50%;
  margin: 100px auto;
  text-align: right;
}

.logo{
  width: 5%;
}

.yo{
  /*width: 25%;
  */
  width: 207px;
  border-radius: 10%;
  margin: 50px auto;
}

.coding-skill{
  width: 165px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.guittar-skill{
  width: 165px;
  border-radius: 50%;
  float: right;
  margin-left: 20px;
}

.footer-link{
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 25px 50px 25px;
}

.footer-text{
  color: #EAF6F6;
}

.myButton {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Yusei Magic', sans-serif;
	font-size:22px;
	font-weight:bold;
	padding:14px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin-bottom: 100px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

hr{
  border-style: dotted none none;
  border-color: #9ddfd3;
  height:2px;
  width: 30%;
  border-width: 10px;
}

.table{
  margin: 50px auto;
}

.siguiente{
  position: absolute;
  right: 0;
}