body{
    margin: 0;
    text-align: center;
}

header{
    height: 20%;
}

section{

}

footer{
    padding-bottom: 15px;
}

.contenedor{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 2%;/*****/
    margin: 15px 30px;
    text-align: center;
    background-color: aqua;
}

.footer-link{
    color: blue;
    text-decoration: none;
}