body {
  background-color: hsl(35, 100%, 90%);;
  font-family: 'RocknRoll One', 'Open Sans', sans-serif;
  padding: 0 5% 5%;
  text-align: center;
}

h1 {
  color: hsl(35, 100%, 30%);
  text-transform: uppercase;
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

p.intro {
  color: hsl(35, 100%, 50%);
}

details{
  border: 0;
  font-weight: 400;
  padding: 12px;
  text-align: left;
  width: 100%;
}

details:hover{
  background-color: rgb(240, 183, 109);
  border-bottom: 2px solid  hsl(35, 100%, 30%);
}

summary {
  font-size: 4rem;
}