body{
    margin: 100px 50px 0;
    text-align: center;
    background-color: #dbf6e9af;
    /*background-image: url();
    text-align: justify;*/
}

h1{
    font-family: 'Bebas Neue';
    font-size: 3rem;
    text-transform: uppercase;
}

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;}

.decade{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color:#9ddfd3;
    margin: 15px 30px;
    padding: 2%;
    text-align: center;
}

.d{
    font-size:large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.d:hover{
    color: gray;
}
iframe{
    margin-bottom: 100px;
}
.derecha{
    width: 50px;
}